table {
  user-select: none;

  border-collapse: collapse;

  margin: 0 auto;
  margin-bottom: 1.25rem;

  font-size: calc(var(--cell-size) * 1.2);
  text-align: center;

  background-color: var(--base-background);
}

thead,
th {
  margin: 0;
  padding: 0;
  font-size: 0;
}

td {
  margin: 0;
  padding: calc(var(--cell-size) / 1.2);
  border: var(--border-thin);
}

.cell {
  width: 100%;
  width: var(--cell-size);
  height: var(--cell-size);
  transition: background-color 0.1s;
}

.cell[data-state='1'] {
  border-color: var(--main-dimmed);
  background-color: var(--main);
}

.cell[data-state='-1'] {
  position: relative;
}

.cell[data-state='-1']::before,
.cell[data-state='-1']::after {
  content: '';

  position: absolute;
  top: 50%;

  width: 140%;
  height: 1px;

  background-color: var(--main);
}

.cell[data-state='-1']::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cell[data-state='-1']::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

td:first-child {
  border-right: var(--border-thick);
  border-left: var(--border-thick);

  line-height: 0;
  text-align: right;
  text-wrap: nowrap;
  word-spacing: var(--cell-size);
}

tr:first-child td {
  min-width: var(--cell-size);
  height: fit-content;
  padding-bottom: 0.225rem;

  line-height: 1.225rem;
  white-space: pre;
  vertical-align: bottom;
}

tbody tr:first-child {
  border-bottom: var(--border-thick);
}

td:nth-child(5n-4) {
  border-right: var(--border-thick);
}

tr:nth-child(5n-4) {
  border-bottom: var(--border-thick);
}

tr:first-child td:first-child {
  padding: 0;
  padding-left: 0.1rem;

  font-size: calc(var(--cell-size) * 2.5);
  color: var(--secondary);
  text-align: center;
  vertical-align: middle;

  background-color: var(--main);
}

.hint {
  font-weight: 500;
}
