.board {
  user-select: none;

  border-collapse: collapse;

  margin: 0 auto;
  margin-bottom: 1.25rem;

  font-size: calc(var(--cell-size) * 1.2);
  text-align: center;

  background-color: var(--secondary);
  box-shadow:
    0 0 5px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color);
}

.head,
.heading {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.cell {
  width: 100%;
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 0;
  padding: calc(var(--cell-size) / 1.2);
  border: var(--border-thin);

  background-color: var(--board-color);

  transition: background-color 0.1s;

}

.cell[data-state='0'] {
    box-shadow:
    0 0 5px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color);
}

.cell[data-state='1'] {
  border-color: var(--main-dimmed);
  background-color: var(--cell-color);
  /* box-shadow:
    0 0 5px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color); */
}

.cell[data-state='-1'] {
  position: relative;
  box-shadow:
  0 0 5px var(--glow-color),
  0 0 10px var(--glow-color),
  0 0 20px var(--glow-color),
  0 0 40px var(--glow-color);
}

.cell[data-state='-1']::before,
.cell[data-state='-1']::after {
  content: '';
  box-shadow:
    0 0 5px var(--glow-color),
    0 0 10px var(--glow-color),
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color);
  position: absolute;
  top: 50%;

  width: 140%;
  height: 1px;


  background-color: var(--cross-color);
}

.cell[data-state='-1']::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cell[data-state='-1']::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cell:first-child {
  border-right: var(--border-thick);
  border-left: var(--border-thick);

  line-height: 0;
  text-align: right;
  text-wrap: nowrap;
  word-spacing: var(--cell-size);
}

.row:first-child .hint {
  min-width: var(--cell-size);
  height: fit-content;
  padding-bottom: 0.225rem;

  line-height: 1.225rem;
  white-space: pre;
  vertical-align: bottom;
}

.field .row:first-child {
  border-bottom: var(--border-thick);
}

.cell:nth-child(5n-4) {
  border-right: var(--border-thick);
}

.row:nth-child(5n-4) {
  border-bottom: var(--border-thick);
}

.hint {
  font-weight: 500;
  color: var(--main);
  background-color: var(--secondary);
}

.icon {
  padding: 0.5rem 1rem;
  border: var(--border-thick);

  font-size: calc(var(--cell-size) * 2.5);
  color: var(--icon-color);
  text-shadow:
    0 0 5px white,
    0 0 10px white,
    0 0 20px var(--glow-color),
    0 0 40px var(--glow-color),
    0 0 50px var(--glow-color),
    0 0 75px var(--glow-color);
  white-space: nowrap;

  background-color: var(--icon-background);
}
