.levels {
  font-size: 0.8rem;
}

.label {
  font-weight: 600;
  text-transform: uppercase;
}

.select {
  padding: 0.225rem;
  border: var(--border-thick);
  border-radius: 0;

  font-size: 0.8rem;
  text-transform: capitalize;

  outline: none;
}
